.music-info-box{
    position: fixed;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    .content-box{
        width: 100%;
        padding: 30px 0;
        background-color: rgba(250, 250, 250, 0.3);
        position: relative;
    }
    #MusicBG::before{
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 105%;
        content: "";
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 10%;
        z-index: -1;
        border-radius: 40%;
        filter: blur(55px);
    }
    .music-content{
        transition: all 0.5s;
        width: 880px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        .close-btn{
            width: 48px;
            position: absolute;
            right: -50px;
            top: 0;
            i{
                font-size: 24px;
            }
        }
        .box{
            width: 50%;
            .music-animation{
                margin: 25px auto 40px;
                .circular{
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                }
                .out{
                    border:6px solid #8d8c8b;
                }
                .medium{
                    width: 288px;
                    height: 288px;
                    border:40px solid #373739;
                }
                .inner{
                    width: 208px;
                    height: 208px;
                    border:8px solid #222221;
                    overflow: hidden;
                    img{
                        width: 194px;
                        height: 194px;
                    }
                }
            }
            .buttons-box{
                display: flex;
                justify-content: space-around;
            }
            .music-name{
                font-size: 24px;
                color: #2b2a2a;
            }
            .music-info{
                margin:10px 0;
                font-size: 12px;
            }
        }
        .coment-box{
            width: 590px;
            
        }
        .recommend-box{
            width: 290px;
        }
    }
    .animation-close{
        display: none;
    }
}