
.table-box{
    padding-bottom:30px;
    nz-table{
        th{
            color: #666;
            border: 1px solid #e1e1e2;
            border-right:none;
            border-top: none;
            padding:0 8px;
        }
        td.opt-btn{
            span{
                padding: 4px;
            }
            span:hover{
                color: #4b4b4b;
            }
        }
    }
}
.music-color{
    color: #adaeae;
}
.li-item:hover td{
    background:none;
}