<div class="table-box">
  <nz-spin [nzSpinning]="isLoading" nzDelay="100">
    <nz-table #songTable [nzData]="songList" nzSimple nzTableLayout="fixed" nzSize="small" [nzShowPagination]="false"
      [nzFrontPagination]="false">
      <thead>
        <tr>
          <th *ngFor="let thData of ths;" [nzWidth]="thData.width">{{thData.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="li-item" *ngFor="let data of songTable.data; let i = index" (dblclick)="addMusic(data)">
          <td class="music-color" [nzAlign]="'right'">{{i+1}}</td>
          <td class="opt-btn music-color">
            <span><i nz-icon nzType="heart" nzTheme="outline"></i></span>
            <span><i nz-icon nzType="download" nzTheme="outline"></i></span>
          </td>
          <td nzEllipsis>
            <span>{{data.name}}</span>
            <app-tools [alia]="data.alia" [tns]="data.tns" [fee]="data.fee" [mv]="data.mv"></app-tools>
          </td>
          <td nzEllipsis><span>{{ data.ar | listPipe: 'name'}}</span></td>
          <td nzEllipsis>{{data.al.name}}</td>
          <td class="music-color">{{data.dt | date: 'mm:ss'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</div>