<nz-layout class="main-layout layout-scrollbar">
  <app-header></app-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu" >
        <li nz-menu-group *ngFor="let item of Menu; let i = index">
          <nz-divider title [nzText]="item.title" nzOrientation="left" class="divider-text"></nz-divider>
          <ul>
            <li nz-menu-item class="sider-menu-item" *ngFor="let li of item.children; let k = index" (click)="menuClick(k)" [nzSelected]="li.select">
              <i nz-icon [nzType]="li.icon" nzTheme="outline"></i>
              <a [routerLink]="li.link" [routerLinkActive]="li.linkClass">{{li.text}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="layout-scrollbar">
      <ngx-loading-bar [includeSpinner]="false" [color]="'#555'" [fixed]="false" height="4px"></ngx-loading-bar>
      <nz-layout class="inner-layout">
        <nz-content>
          <router-outlet #outlet="outlet"></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
  <nz-footer class="footer-box">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>