::ng-deep{
    .ant-card-body{
        padding: 0 8px;
        height: 100%;
    }
    .ant-typography-expand.ng-star-inserted{
        display: none;
    }
}
nz-layout{
    .carousel-box{
        height: 300px;
        margin-bottom: 20px;
        
    }
    nz-carousel {
        max-width: 752px;
        margin: auto;
        height: 300px;
    }
    
    [nz-carousel-content] {
        height: 300px;
        line-height: 300px;
        text-align: center;
        user-select: none;
        font-size: 24px;
        font-family: Vollkorn, 'PingFang SC', 'Helvetica', Arial;
        background: #555;
    }
    .title-item{
        .title{
            border-bottom: 1px solid #e1e1e2;
            span{
                font-size: 18px;
                color: #333;
            }
            .more{
                float: right;
                color: #444;
            }
        }
        .card-box{
            display: flex;
            flex-flow: row wrap;
            max-width: 1080px;
            margin: 12px auto 0;
            .card-body-box{
                // height: 100%;
                position: relative;
                z-index: 5;
                overflow: hidden;
                .card-text{
                    text-align: left;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                .recommend-text{
                    width: 100%;
                    position: absolute;
                    color: #fafafa;
                    top: -44px;
                    background: rgba(0,0,0,0.6);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    z-index: 0;
                    transition: top 1s;
                }
                .play-icon{
                    bottom: 52px;
                    transition: opacity 1s;
                    z-index: -2;
                    opacity: 0;
                }
                
            }
            .card-body-box:hover{
                .active{
                    top: 0;
                }
                .listen-people{
                    display: none;
                }
                .play-icon{
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
        nz-card{
            min-width: 153px;
            max-width: 216px;
            width: 13.6vw;
            height: 13.6vw;
            min-height: 140px;
            max-height: 200px;
            text-align: center;
            border-color: #fafafa;
            background-color: #fafafa;
            margin-bottom: 56px;
            flex: 0 0 20%;
            .every-day {
                text-align: center;
                border:1px solid #e5e5e5;
                background-color: #fff;
                h3{
                    padding-top: 12px;
                    color: #666;
                }
                div{
                    font-size: 80px;
                    color: #c62f2f;
                    line-height: 60px;
                    margin-bottom: 30px;
                }
            }
            .every-day,img{
                width: 100%;
                height: 100%;
            }
            img{
                z-index: -2;
            }
        }
    }
}
