
<nz-layout class="component-main">
    <nz-spin [nzSpinning]="loading">
        <div class="carousel-box">
            <nz-carousel nzAutoPlay="true" nzAutoPlaySpeed="5000" (nzAfterChange)="carouselChange($event)">
                <div nz-carousel-content *ngFor="let index of array">
                    <img [src]="index.imageUrl+'?param=768y300'" alt="">
                </div>
            </nz-carousel>
        </div>

        <article class="title-item" *ngFor="let item of data;let k = index">
            <p class="title">
                <span>{{ item.title }}</span>
                <a class="more" (click)="changeTabIndex(item.tabIndex)">更多></a>
            </p>
            <section class="card-box" *ngIf="item.code == 'tjgd'">
                <nz-card>
                    <div class="card-body-box">
                        <div class="every-day">
                            <h3>星期{{week[weekDay]}}</h3>
                            <div>{{date}}</div>
                        </div>
                        <span class="card-text">每日歌曲推荐</span>
                    </div>
                </nz-card>
                <nz-card *ngFor="let card of item.children; let j = index">
                    <div class="card-body-box" (click)="goSongsDetail(card.id)">
                        <p class="recommend-text active">
                            {{card.copywriter}}
                        </p>
                        <p class="play-icon">
                            <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                        </p>
                        <p class="listen-people">
                            <i nz-icon nzType="customer-service" nzTheme="outline"></i>
                            <span>{{card.playCount | playCount}}</span>
                        </p>
                        <img alt="example" [src]="card.picUrl+ '?param=140y140'" />
                        <span class="card-text">{{card.name}}</span>
                    </div>
                </nz-card>
            </section>
            <section class="card-box" *ngIf="item.code == 'zxyy'">
                <ul class="new-song-list">
                    <li *ngFor="let item of item.children;index as i">
                        <p class="item-box">
                            <span class="item-id">{{i+1}}</span>
                            <img [src]="item.picUrl+ '?param=40y40'" alt="">
                            <span class="play-icon">
                                <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                            </span>
                        </p>
                        <div class="text-box">
                            <p>{{item.name}}</p>
                            <p>{{item.song.artists | listPipe: 'name'}}</p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="card-box" *ngIf="item.code == 'tjmv'">
                <div class="all-item-box">
                    <div nz-row [nzGutter]="[16, 24]">
                        <div nz-col class="gutter-row" [nzSpan]="6" *ngFor="let item of item.children;index as i">
                            <div class="inner-box">
                                <p class="recommend-text active">
                                    {{item.copywriter}}
                                </p>
                                <p class="listen-people">
                                    <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                                    <span>{{item.playCount | playCount}}</span>
                                </p>
                                <img [src]="item.picUrl+'?param=240y130'" [alt]="item.name">
                                <p class="inner-text text-flow">{{item.name}}</p>
                                <p class="inner-text text-flow">{{item.artists | listPipe: 'name'}}</p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </section>
            <section class="card-box" *ngIf="item.code == 'djfs'">
                <div class="all-item-box">
                    <div nz-row [nzGutter]="[16, 24]">
                        <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let item of item.children;index as i">
                            <div class="inner-box">
                                <p class="play-icon">
                                    <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                                </p>
                                <img [src]="item.picUrl+'?param=240y130'" [alt]="item.name">
                                <p class="inner-text">{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section  class="card-box" *ngIf="item.code == 'zbdt'">
                <div class="dj-box">
                    <div class="dj" *ngFor="let dj of item.children; index as idx">
                        <img [src]="dj.program.radio.picUrl+'?param=140y140'" alt="">
                        <p>{{dj.program.radio.name}}</p>
                        <p class="dj-info">
                            <span>{{dj.program.radio.rcmdText}}</span>
                        </p>
                    </div>
                </div>
            </section>
        </article>
    </nz-spin>
</nz-layout>