
<nz-layout class="component-main">
    <nz-spin [nzSpinning]="loading">
        <div class="carousel-box">
            <nz-carousel nzAutoPlay="true" nzAutoPlaySpeed="5000" (nzAfterChange)="carouselChange($event)">
                <div nz-carousel-content *ngFor="let index of array">
                    <img [src]="index.imageUrl+'?param=768y300'" alt="">
                </div>
            </nz-carousel>
        </div>

        <article class="title-item" *ngFor="let item of data;let k = index">
            <p class="title">
                <span>{{ item.title }}</span>
                <a class="more" (click)="changeTabIndex(item.tabIndex)">更多></a>
            </p>
            <section class="card-box" *ngIf="item.code == 'tjgd'">
                <nz-card>
                    <div class="card-body-box">
                        <div class="every-day">
                            <h3>星期{{week[weekDay]}}</h3>
                            <div>{{date}}</div>
                        </div>
                        <span class="card-text">每日歌曲推荐</span>
                    </div>
                </nz-card>
                <nz-card *ngFor="let card of item.children; let j = index">
                    <div class="card-body-box" (click)="goSongsDetail(card.id)">
                        <p class="recommend-text active">
                            {{card.copywriter}}
                        </p>
                        <p class="play-icon">
                            <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                        </p>
                        <p class="listen-people">
                            <i nz-icon nzType="customer-service" nzTheme="outline"></i>
                            <span>{{card.playCount | playCount}}</span>
                        </p>
                        <img alt="example" [src]="card.picUrl+ '?param=140y140'" />
                        <span class="card-text">{{card.name}}</span>
                    </div>
                </nz-card>
            </section>
        </article>
    </nz-spin>
</nz-layout>