<div *ngIf="nowMusic">
  <app-play-music [imgSrc]="nowMusic.al.picUrl" [musicName]="nowMusic.name" [singer]="nowMusic.ar"></app-play-music>
</div>
<div nz-row>
  <div nz-col nzFlex="180px">
    <app-audio-btn [startTogg]="palyIcon" (musicEvent)="getMusicOperation($event)"></app-audio-btn>
  </div>
  <div nz-col nzFlex="auto">
    <app-audio-slider [currentTime]="audioCurrentTime" [duration]="audioDuration" (sendMusicSlider)="receiveMusicSlider($event)"></app-audio-slider>
  </div>
  <div nz-col nzFlex="340px" nz-row class="right-footer-box">
    <div nz-col nzFlex="120px">
      <app-audio-volume [volumeValue]="audioVolume" (sendMusicVolume)="receiveMusicVolume($event)"></app-audio-volume>
    </div>
    <app-play-mode (playModel)="changeModel($event)"></app-play-mode>

    <div nz-col nzFlex="108px">
    </div>
    <div nz-col nzFlex="56px">
      <app-play-list [listPlayModel]="footerPlayModel" (musicPlay)="nowMusicPlay($event)"></app-play-list>
    </div>
  </div>
</div>
<app-song-info #musicInfo [music]="nowMusic? nowMusic:{}"></app-song-info>
<audio #audioElm (timeupdate)="musicSlider()" (ended)="endMusic()">
  <source [src]="musicUrl" type="audio/mpeg">
</audio>



