nz-layout{
    .carousel-box{
        height: 300px;
        margin-bottom: 20px;
        
    }
    nz-carousel {
        max-width: 752px;
        margin: auto;
        height: 300px;
    }
    
    [nz-carousel-content] {
        height: 300px;
        line-height: 300px;
        text-align: center;
        user-select: none;
        font-size: 24px;
        font-family: Vollkorn, 'PingFang SC', 'Helvetica', Arial;
        background: #555;
    }
}